# Modifiez ce fichier et renommez-le en ".env"
# Ajoutez vos propres clés API ici. NE PUSHEZ JAMAIS LE FICHIER .env SUR GITHUB !

REPLICATE_API_KEY=r8_votre_cle_ici
ANTHROPIC_API_KEY=sk-ant-api03-votre_cle_ici
NIIMBOT_COM_PORT=COM7
